.blue{
    color: rgb(75, 11, 223);
}
.red{
    color: red;
}
.green{
    color: rgb(21, 172, 21);
}
.list-group{
font-size: 1.5rem;
}
.Body_class{ 
    /* background-color:#CAD178; */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-krMMRWXIrxrXetTXZ6MVb0ExecMrhIEC2w&usqp=CAU"); */
}